body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
}

.center-vh-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.center-vh-item {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
}

.title {
  grid-column: 1 / 3;
}

.right-col {
  align-self: center;
}

h1 {
  padding-bottom: 16px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 14pt;
  letter-spacing: 16pt;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 10px;
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: 8pt;
}

#timer-label {
  margin-bottom: 20px;
  font-size: 14pt;
  font-weight: 400;
}

.timeset {
  margin-bottom: 16px;
  font-size: 18pt;
}

.timer {
  margin-bottom: 20px;
  font-size: 24pt;
}

button {
  margin: 0 4px;
  padding: 8px;
  border: 0px;
  border-radius: 10px;
  background-color: #d8d8d8;
  transition: all 0.2s ease-out;
}

button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

hr {
  margin: 30px 0 24px;
  border: 1px dashed #d8d8d8;
}

#start_stop,
#reset {
  margin-bottom: 10px;
  padding-left: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3pt;
}
